.Side-bar
  .Side-bar__user-name
    .top-items
      .top-items__name tadashi
      .top-items__icons
        = link_to "#", class: "Contents__btn btn-fa" do
          = icon("far","edit") 
      
        = link_to"#", class:"Contents__btn" do
          = icon("fas","cog")
  
  .Side-bar__group-list
    %p.Side-name tadashi


    %p.Side-tweets hello
